.App {
  height: 100%;
  background-color: #222222;
  text-align: center;
}

.Movies {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  justify-content: center;
}

.MoviesBlur {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 4px;
  justify-content: center;
}

.MovieContainerShow {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  transition: all 0.4s ease-in;
  position: relative;
  min-width: 300px;
  height: auto;
  margin: 5px;
  animation: MovieContainerShow 1.5s forwards;
}

.MovieContainerBlur {
  pointer-events: none;
  position: relative;
  min-width: 300px;
  height: 450px;
  margin: 5px;
  animation: MovieContainerBlur 1.5s forwards;
}

.LoadingContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000087;
}

.LoadingIndicator {
  width: 100px;
  height: 100px;
}

.MoviePoster {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  filter: grayscale(40%) brightness(70%);
}

.MoviePoster:hover {
  filter: grayscale(0%) brightness(100%);
  transform: scale(1.02);
}

/* Ripple effect */
.MovieContainerShow {
  background-position: center;
  transition: background 0.8s;
}
.MovieContainerShow:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
}
.MovieContainerShow:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.SelectedMovieShow {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  animation: SelectedMovieShow 1.5s forwards;
}

.SelectedMovieHide {
  pointer-events: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  animation: SelectedMovieHide 1.5s forwards;
}

.SelectedMovieBackdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 100%;
}

.CloseSelectedMovieBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  background-color: transparent;
  border: none;
  margin: 15px;
  fill: white;
}

.CloseSelectedMovieBtn:focus {
  outline: none;
}

/* .MovieGenres {
  font-family: Century Gothic;
  font-size: 15px;
  text-shadow: 1px 1px 5px black;
  position: relative;
  color: white;
  margin: 30px;
} */

.MovieDetails {
  position: absolute;
  bottom: 0px;
}

.MovieDetailsContent {
  position: relative;
}

.BackroundGradient {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.91) 4%,
    rgba(0, 0, 0, 0.5) 68%,
    rgba(0, 0, 0, 0) 100%
  );
}

.MovieTitle {
  font-family: Century Gothic;
  text-align: left;
  margin: 30px 30px 30px 30px;
  color: white;
  font-size: 17px;
  letter-spacing: 1.2px;
  margin: 0px 0px 10px 30px;
}

.MovieGenres {
  font-family: Century Gothic;
  text-align: left;
  margin: 30px 30px 30px 30px;
  color: white;
  font-size: 12px;
  margin: 0px 0px 10px 30px;
}

.MoviePlotText {
  max-height: 200px;
  overflow: auto;
  font-family: Century Gothic;
  text-align: left;
  margin: 0px 30px 30px 30px;
  color: white;
  font-size: 13px;
  letter-spacing: 1.2px;
  line-height: 20px;
}

@media only screen and (max-width: 480px) {
  .MoviePoster {
    filter: grayscale(0%) brightness(100%);
  }
  .MovieContainerShow {
    width: 100%;
  }
  .MoviePoster {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  .MoviePoster {
    filter: grayscale(0%) brightness(100%);
  }
  .MovieContainerShow {
    width: 100%;
  }
  .MoviePoster {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .MoviePoster {
    filter: grayscale(0%) brightness(100%);
  }
  .MovieContainerShow {
    width: auto;
  }
  .MoviePoster {
    width: auto;
  }
}
@media only screen and (min-width: 768px) {
  .MoviePlot {
    width: 100%;
    position: absolute;
    bottom: 20%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7371323529411764) 20%,
      rgba(0, 0, 0, 0.7259278711484594) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1382px) {
}
@media only screen and (min-width: 1382px) {
}

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes MovieContainerBlur {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(120px);
  }
}

@keyframes MovieContainerShow {
  0% {
    opacity: 0;
    filter: blur(120px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes SelectedMovieShow {
  0% {
    opacity: 0;
    filter: blur(120px);
  }
  90% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes SelectedMovieHide {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(120);
  }
}
